body {
  overflow-x: hidden;
}


.home-header {
  background:linear-gradient( rgba(0, 0, 0, 0.501) 100%, rgba(0, 0, 0, 0.5)100%),url("../assets/images/header/37.jpg");;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.header {
  background:linear-gradient( rgba(0, 0, 0, 0.501) 100%, rgba(0, 0, 0, 0.5)100%),url("../assets/images/header/37.jpg");;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 70vh;
}

.project-header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 70vh;
  z-index: 1;
}


.nav-container {
  background-color: #000a18d6;
  z-index: 10 !important;
  position: absolute;
  left: 0;
  right: 0;
  min-width: 100vw;
  height: 70vh;
}


img {
  image-rendering: smooth;
  image-resolution: from-image 300dpi;
}

.team-card:nth-child(1) > img {
  object-fit: cover;
}

.home-fox {
  background-color: #FD6505;
}

.mockup{
background-color: #000a18;
}

.nav-item {
  font-size: 1.5rem;
  text-align: center;
  margin: auto;
  position: relative;
  transition: 1s ease-in-out;
}

.nav-item:hover {
  color: aqua !important;
  
}

.nav-item::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: aqua;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.nav-item:hover::before {
  transform: scaleX(1);
}
