html {
  overflow-x: hidden;
  min-width: 100vw;
}

body {
  overflow-x: hidden;
  overflow-y: scroll !important;
}


.home-header {
  background: linear-gradient(rgba(0, 0, 0, 0.501) 100%, rgba(0, 0, 0, 0.5) 100%), url("../assets/images/header/37.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.header {
  background: linear-gradient(rgba(0, 0, 0, 0.974) 100%, rgba(0, 0, 0, 0.5) 100%), url("../assets/images/header/37.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 70vh;
}

.project-header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  z-index: 1;
}

.img-overlay {
  z-index: 9;
  position: absolute;
  height: 100vh;
  background-color: #000a18d6;
}

.nav-container {
  z-index: 10 !important;
  position: sticky;
  top: 0;
  width: 100%;
}

img {
  image-rendering: smooth;
  image-resolution: from-image 300dpi;
  object-fit: cover;
}

.team-card:nth-child(1) > img {
  object-fit: cover;
}

.home-fox {
  background-color: #fd6505;
}

.mockup {
  background-color: #000a18;
}

.nav-item {
  font-size: 1.5rem;
  text-align: center;
  margin: auto;
  position: relative;
  transition: 1s ease-in-out;
}

.nav-item:hover {
  color: aqua !important;
}

.nav-item::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: aqua;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.nav-item:hover::before {
  transform: scaleX(1);
}


/* Team Page */

.description {
  z-index: 9;
  padding-top: 5rem;
}